# Prepare Exercises

In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta, datetime

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

**Data Acquisition**

In [2]:
df = pd.read_csv('sales_stores_items.csv')

In [3]:
df.shape

(913000, 15)

In [4]:
#Drop the extra column in the datafrmae
df.drop(columns={'Unnamed: 0'}, inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item_id        913000 non-null  int64
 1   sale_amount    913000 non-null  float64
 2   sale_date      913000 non-null  object
 3   sale_id        913000 non-null  int64
 4   store_id       913000 non-null  int64
 5   store_address  913000 non-null  object
 6   store_city     913000 non-null  object
 7   store_state    913000 non-null  object
 8   store_zipcode  913000 non-null  int64
 9   item_brand     913000 non-null  object
 10  item_name      913000 non-null  object
 11  item_price     913000 non-null  float64
 12  item_upc12     913000 non-null  int64
 13  item_upc14     913000 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 97.5+ MB

## 1. Convert date column to datetime format.

In [10]:
# Set the sale_date to datetime object
df.sale_date = pd.to_datetime(df.sale_date)

## 2. Plot the distribution of sale_amount and item_price.

In [ ]:
#Sale amount dist
df['sale_amount'].plot.hist()

In [ ]:
#item_price dist
df['item_price'].plot.hist()

## 3. Set the index to be the datetime variable.

In [11]:
# Sort rows by the date and then set the index as that date
df = df.set_index("sale_date").sort_index()

In [12]:
df.tail()

,item_id,sale_amount,sale_id,store_id,store_address,store_city,store_state,store_zipcode,item_brand,item_name,item_price,item_upc12,item_upc14
sale_date,,,,,,,,,,,,,
2017-12-31 00:00:00+00:00,34,21.0,619014,9,735 SW Military Dr,San Antonio,TX,78221,Halls,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694
2017-12-31 00:00:00+00:00,34,32.0,620840,10,8503 NW Military Hwy,San Antonio,TX,78231,Halls,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694
2017-12-31 00:00:00+00:00,35,55.0,622666,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Natures Way,Natures Way Forskohlii - 60 Ct,5.19,33674100066,33674100066
2017-12-31 00:00:00+00:00,33,100.0,598928,8,15000 San Pedro Ave,San Antonio,TX,78232,The First Years,Tomy The First Years Gumdrop Orthodontic Pacif...,6.52,71463060078,71463060078
2017-12-31 00:00:00+00:00,50,82.0,913000,10,8503 NW Military Hwy,San Antonio,TX,78231,Choice,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

## 4. Add a 'month' and 'day of week' column to your dataframe.

In [13]:
#Create a column for month
df['month'] = df.index.month_name()

#Create a column for day of the week
df['day_of_week'] = df.index.day_name()

## 5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

In [ ]:
df['sales_total'] = df.sale_amount.apply(lambda x: x * df.item_price)

## 6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

---

## Using the OPS data acquired in the Acquire exercises opsd_germany_daily.csv, complete the following: